################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloApp/HelloApp/bin/
/HelloApp/HelloApp/obj/
/HelloApp/.vs/
